{% extends 'base.html' %}
{% block title %} Forgate Password {% endblock title %}
{% block BlockName %}
<div class="containr">
    <form action="{{url_for('SubmitPassword')}}" method="post">
        <label for="email">Email</label><br>
        <input type="email" name="email" id="username" placeholder="Enter Your Email..." required>
        </label>
        <button id="sentOtp">Send OTP</button>
        <!-- <input type="submit" value="submit"> -->
        <p id="msg" style="color: rgb(240, 17, 17);"></p>
        <div id="otpdiv" style="display: none;">
            <input type="text" name="otpfield" id="otpfield" placeholder="Enter OTP" required><br>
            <button id="VerifyOtpButton">Verify OTP</button>
        </div>
        <div id="pswdiv" style="display: none;" class="password-show-card">
            <input type="password" name="newpsw" id="newpsww" class="input-control" placeholder="New Password" required><br>
            <i class="fa fa-eye-slash password-show"></i>
            <input type="password" name="cnfpsw" id="cnfpsww" placeholder="Confirm Password" required><br>
            <p id="pswmsg" style="display: none; color: green;"></p>
            <p id="pswerror" style="display: none; color: red;"></p>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
<div class="modal" style="display: none">
    <div class="center">
        <img alt="" src="{{url_for('static', filename='images/loader.gif')}}" />
    </div>
</div>
{% endblock BlockName%}