{% extends 'base.html' %}
{% block title %} Module {% endblock title %}
{% block BlockName %}
<div class="row-type-container">
    <div class="linkContainer"> 
        <h3>Index</h3>
        <ul>
            <li><a href="{{ url_for('Python_Introduction')}}">Introduction</a></li>
            <li><a href="{{ url_for('Python_Module')}}"><b>module in python</b></a></li>
            <li><a href="{{ url_for('Python_Comment')}}">Comment escape sequence & print statement</a></li>
            <li><a href="{{ url_for('Python_String_Slicing')}}">string slicing and other function</a></li>
            <li><a href="{{ url_for('Python_List')}}">python list & list function</a></li>
            <li><a href="#">dictionary and its function explained</a></li>
            <li><a href="#">sets in python</a></li>
            <li><a href="#">if else and elif condition</a></li>
            <li><a href="#">loop in python</a></li>
            <li><a href="#">else with for loop</a></li>
            <li><a href="#">braek and continue statement</a></li>
            <li><a href="#">operator in python</a></li>
            <li><a href="#">sort hand if else notation</a></li>
            <li><a href="#">functions and Docstring</a></li>
            <li><a href="#">exception handling</a></li>
            <li><a href="#">python file IO basics</a></li>
            <li><a href="#">open() and read()</a></li>
            <li><a href="#">writting  and appending to a file</a></li>
            <li><a href="#">seek() and tell()</a></li>
            <li><a href="#">using <b>with</b> block to open python file</a></li>
            <li><a href="#">scope, Global variable and Global keyword</a></li>
            <li><a href="#">recurtion in python</a></li>
            <li><a href="#">Anonymous Lambda function</a></li>
            <li><a href="#">Python external</a></li>
            <li><a href="#">f-string</a></li>
            <li><a href="#">__args and __kwargs</a></li>
            <li><a href="#">time module</a></li>
            <li><a href="#">virtual environment</a></li>
            <li><a href="#">Enumerate function</a></li>
            <li><a href="#">how <b>import</b> works in python</a></li>
            <li><a href="#">if __name__=='__main__':</a></li>
            <li><a href="#">join function</a></li>
            <li><a href="#">map, filter in python</a></li>
            <li><a href="#">Healthy Programmer</a></li>
            <li><a href="#">Decorator in python</a></li>
            <li><a href="#">classes</a></li>
            <li><a href="#">static method in python</a></li>
            <li><a href="#">abstraction and encapsulation</a></li>
            <li><a href="#">inheritance</a></li>
            <li><a href="#">public, private, and protected</a></li>
            <li><a href="#">polymorphism in python</a></li>
            <li><a href="#">super() and overriding in class</a></li>
            <li><a href="#">diamond shape problem in multiple inheritance</a></li>
            <li><a href="#">operator overloading</a></li>
            <li><a href="#">abstract base class</a></li>
            <li><a href="#">setters</a></li>
            <li><a href="#">object introspection</a></li>
            <li><a href="#">generators</a></li>
            <li><a href="#">comprehensions</a></li>
            <li><a href="#">function catching</a></li>
            <li><a href="#">else & except</a></li>
            <li><a href="#">coroutine</a></li>
            <li><a href="#">os module</a></li>
            <li><a href="#">regular expression</a></li>
            <li><a href="#">convert .py to .exe</a></li>
            <li><a href="#">inspect module</a></li>
            <li><a href="#">request module</a></li>
            <li><a href="#">json module</a></li>
            <li><a href="#">pickle module</a></li>
            <li><a href="#">rais</a></li>
            <li><a href="#">argrporse module</a></li>
            <li><a href="#">package</a></li>
        </ul>
        
    </div>
    <div class="infoContainer">
        <div class="row-container-left">
            <h3 class="headingTitle">How to install module</h3>
            <div class="back-btn">
                <a href="{{ url_for('Python_Introduction')}}">BACK</a>
            </div>
            <div class="next-btn">
                <a href="{{ url_for('Python_Comment')}}">NEXT</a>
            </div>
        </div>        
        <p style="text-indent: 5%;"> 
            To install module in python using <b>pip</b> is package manager of python.
        </p>
        <h4><strong>syntax</strong></h4>
        <div> 
            <pre><code class="python">pip install modulename</code></pre>
        </div>
        <h4><strong>Example</strong></h4>
        <div> 
            <pre><code class="python">pip install flask</code></pre>
        </div>
        <p>
            There are two types of python module.<br>
            <ol>
                <li>Built in module:</li>
                <p>
                    Already installed in system during installing python.<br>
                    <b>Example:-</b> random, math, etc.
                </p>
                <li>External module:</li>
                <p>
                    External module is not installed during python. Using internet for installing external module.<br>
                    <b>Example:</b> pandas, flask, flask_sqlalchemy, flask_login, etc.
                </p>
            </ol>
        </p>
        <h3 class="headingTitle">Don't create file name to module name</h3>
        <p>
            Interpreter of python first search in same folder where your file is created and after in python folder 
            like bin folder.<br>
            <b>Example</b><br>
            flask.py (don't choose)<br>
            hello.py (choose)<br>
            flask is module of python.
        </p>
        <h3 class="headingTitle">Using python as calculator</h3>
        <p>
            Open windows powershell and type: <b>python</b> and hit enter button.<br>
            <img src="{{url_for('static', filename='images/cal.png')}}" alt="cal" style="max-width: 100%; height: auto;">            
        </p>
        <h3 class="headingTitle">How to use module?</h3>
        <p>
            First of all using <b>import</b> keyword for using module.<br>
            let's take an example to better understanding:
<pre><code class="python">import math</code></pre>   
            if want to rename module then used to <b>as</b> keyword.<br>
<pre><code class="python">import math as m</code></pre>    
            if want to multple module import:
<pre><code class="python">import module1, module2,....</code></pre>               
        </p>
        </div>
        <div class="other">
            <h1>Here will display other content</h1>
        </div>
</div>


{% endblock BlockName%}