{% extends 'base.html' %}
{% block title %}python list and list function{% endblock title %}
{% block BlockName %}
<div class="row-type-container">
    <div class="linkContainer"> 
        <h3>Index</h3>
        <ul>
            <li><a href="{{ url_for('Python_Introduction')}}">Introduction</a></li>
            <li><a href="{{ url_for('Python_Module')}}">module in python</a></li>
            <li><a href="{{ url_for('Python_Comment')}}">Comment escape sequence & print statement</a></li>
            <li><a href="{{ url_for('Python_String_Slicing')}}">string slicing and other function</a></li>
            <li><a href="{{ url_for('Python_List')}}"><b>python list & list function</b></a></li>
            <li><a href="#">dictionary and its function explained</a></li>
            <li><a href="#">sets in python</a></li>
            <li><a href="#">if else and elif condition</a></li>
            <li><a href="#">loop in python</a></li>
            <li><a href="#">else with for loop</a></li>
            <li><a href="#">braek and continue statement</a></li>
            <li><a href="#">operator in python</a></li>
            <li><a href="#">sort hand if else notation</a></li>
            <li><a href="#">functions and Docstring</a></li>
            <li><a href="#">exception handling</a></li>
            <li><a href="#">python file IO basics</a></li>
            <li><a href="#">open() and read()</a></li>
            <li><a href="#">writting  and appending to a file</a></li>
            <li><a href="#">seek() and tell()</a></li>
            <li><a href="#">using <b>with</b> block to open python file</a></li>
            <li><a href="#">scope, Global variable and Global keyword</a></li>
            <li><a href="#">recurtion in python</a></li>
            <li><a href="#">Anonymous Lambda function</a></li>
            <li><a href="#">Python external</a></li>
            <li><a href="#">f-string</a></li>
            <li><a href="#">__args and __kwargs</a></li>
            <li><a href="#">time module</a></li>
            <li><a href="#">virtual environment</a></li>
            <li><a href="#">Enumerate function</a></li>
            <li><a href="#">how <b>import</b> works in python</a></li>
            <li><a href="#">if __name__=='__main__':</a></li>
            <li><a href="#">join function</a></li>
            <li><a href="#">map, filter in python</a></li>
            <li><a href="#">Healthy Programmer</a></li>
            <li><a href="#">Decorator in python</a></li>
            <li><a href="#">classes</a></li>
            <li><a href="#">static method in python</a></li>
            <li><a href="#">abstraction and encapsulation</a></li>
            <li><a href="#">inheritance</a></li>
            <li><a href="#">public, private, and protected</a></li>
            <li><a href="#">polymorphism in python</a></li>
            <li><a href="#">super() and overriding in class</a></li>
            <li><a href="#">diamond shape problem in multiple inheritance</a></li>
            <li><a href="#">operator overloading</a></li>
            <li><a href="#">abstract base class</a></li>
            <li><a href="#">setters</a></li>
            <li><a href="#">object introspection</a></li>
            <li><a href="#">generators</a></li>
            <li><a href="#">comprehensions</a></li>
            <li><a href="#">function catching</a></li>
            <li><a href="#">else & except</a></li>
            <li><a href="#">coroutine</a></li>
            <li><a href="#">os module</a></li>
            <li><a href="#">regular expression</a></li>
            <li><a href="#">convert .py to .exe</a></li>
            <li><a href="#">inspect module</a></li>
            <li><a href="#">request module</a></li>
            <li><a href="#">json module</a></li>
            <li><a href="#">pickle module</a></li>
            <li><a href="#">rais</a></li>
            <li><a href="#">argrporse module</a></li>
            <li><a href="#">package</a></li>
        </ul>
        
    </div>
    <div class="infoContainer">
        <div class="row-container-left">
            <h3 class="headingTitle">How to create list in python ?</h3>
            <div class="back-btn">
                <a href="{{ url_for('Python_String_Slicing')}}">BACK</a>
            </div>
            <div class="next-btn">
                <a href="{{ url_for('Python_Dictionary')}}">NEXT</a>
            </div>
        </div>        
        <p style="text-indent: 5%;"> 
            List in python is be in square brackets and value in inverted commas.
        </p>
        <h4><strong>syntax</strong></h4>
        <div> 
            <pre><code class="python">list = ["value1","value2","value n"]</code></pre>
        </div>
        <h4><strong>Example</strong></h4>
        <div> 
<pre><code class="python">list = ["python","flask","ajax","HTML","CSS"]
print(list)</code></pre>
            <b>Output:</b><br>
            <div class="output">
                ['python', 'flask', 'ajax','HTML','CSS']
            </div>
        </div>
        <p>
            List start with 0 index.
        </p>
        <b>Example:</b>
<pre><code class="python">list = ["python","flask","ajax","HTML","CSS"]
print(list[0],list[1],list[2])
</code></pre>  
        <b>Output:</b>      
        <div class="output">
            python flask ajax
        </div>
        <h3 class="headingTitle">List of integer</h3>
        <div>
            <p>
                list of integer is not be in inverted commas.
            </p>
            <b>Example:</b>
<pre><code class="python">list = [1,2,3,4]
print(list)    
</code></pre>   
            <b>Output:</b>         
            <div class="output">
                [1,2,3,4]
            </div>            
        </div>
        <div>
            <h3 class="headingTitle">How to access of index of list ?</h3>
<pre><code class="python">list = [1,2,3,4]
print(list[1])</code></pre>   
            <b>Output:</b>         
            <div class="output">
                2
            </div>
            <p>
                <b>Why: </b>because index is start from 0 (zero).
            </p>
        </div>
        <div>
            <h3 class="headingTitle">List function</h3>
            <h4 class="headingTitle">sort()</h4>
            <p>
                sort() method is used to sort the list.
            </p>
            <b>Example:</b>
<pre><code class="pyhon">list = [5,2,4,1,3]
list.sort()    
print(list)
</code></pre>
            <b>Output:</b>
            <div class="output">
                [1, 2, 3, 4, 5]
            </div>
            <h4 class="headingTitle">reverse()</h4>
            <p>
                reverse() method is used to print the list in reverse order.
            </p>
            <b>Example:</b>
<pre><code class="pyhon">list = [5,1,3,6,8,3,5]
list.reverse()    
print(list)
</code></pre>
            <b>Output:</b>
            <div class="output">
                [5,3,8,6,3,1,5]
            </div>
            <h4 class="headingTitle">List slicing</h4>
            <p>
                It is working like string slicing, lets see an example.
            </p>
            <b>Example:</b>
<pre><code class="pyhon">list = [5,5,2,3,4,1,6]
print(list[0:3])
print(list[0:6:2])
</code></pre>
            <b>Output:</b>
            <div class="output">
                [5, 5, 2]<br>
                [5, 2, 4]
            </div>
            <p>
                <b>Why: </b>because first output start from 0 index to 2 index and second output 
                start from 0 index to 5 index and skip 1, 3, 5,...index. Negative slicing not used 
                in list.
            </p>
            <h4 class="headingTitle">max() and min()</h4>
            <p>
                max() method return maximum value from list and min() method return minimum value from 
                list.
            </p>
            <b>Example:</b>
<pre><code class="pyhon">list = [5,5,2,3,4,1,6]
print("min value from list: ",min(list))
print("max value from list: ",max(list))
</code></pre>
            <b>Output:</b>
            <div class="output">
                min value from list: 1<br>
                max value from list: 6
            </div> 
            <!-- next heading from here append()            -->
        </div>









        </div>
        <div class="other">
            <h1>Here will display other content</h1>
        </div>
</div>


{% endblock BlockName%}